@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

a:hover,
i:hover {
  transition: all 0.3s ease;
}

/* -----------NavBar------------- */

nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

nav .menu {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

nav .menu li a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #183354;
  font-size: 14px;
  font-weight: 500;
}

.menu li a i {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #545e69;
  font-weight: 700;
  font-size: 22px;
}

.menu li a:hover,
nav .menu li a.active,
nav .menu li a i.active {
  color: #f4796c;
}

.menu li a:hover i {
  color: #f4796c;
  transform: rotate(180deg);
}

nav .menu li {
  position: relative;
}

nav .menu li .dropdown {
  background-color: #ffffff;
  padding: 20px 60px 5px 20px;
  border: 1px solid #f5f5f5;
  position: absolute;
  top: 120%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

nav .menu li:hover .dropdown {
  top: 255%;
  opacity: 1;
  visibility: visible;
}

nav .menu li .dropdown li {
  margin-bottom: 18px;
}

nav .menu li .dropdown li a {
  white-space: nowrap;
}

nav form input {
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  margin-right: 30px;
}

nav form button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  margin-right: 15px;
}

nav form button i {
  font-size: 18px;
  font-weight: 100;
  color: #545e69;
  margin-right: 5px;
  cursor: pointer;
}

nav form button i:hover {
  color: #f4796c;
}

nav form button i span {
  font-size: 13px;
  font-weight: 800;
}

.bar {
  font-size: 30px;
  display: none;
}

/* ---------Aside--------- */

header {
  position: relative;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
}

.aside-container {
  width: 300px;
  height: 100vh;
  border: 1px solid black;
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.aside-container .aside-top {
  padding: 0 25px;
  display: flex;
}

.aside-container .aside-top .aside-logo input {
  margin-top: 30px;
  padding: 12px 12px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.aside-container .aside-top a i {
  font-weight: 900;
}

.aside-container .aside-menu li a:hover i {
  color: #f4796c;
  transform: rotate(180deg);
}

.aside-container .aside-menu li {
  position: relative;
}

.aside-container .aside-menu li .dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.aside-container .aside-menu li:hover .dropdown {
  top: 255%;
  opacity: 1;
  visibility: visible;
}



/* ----------Media Queries---------- */

@media screen and (max-width: 1200px) {
  nav .menu {
    display: none;
  }

  .bar {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  nav form input {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav form {
    display: none;
  }
}
