@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

nav .menu {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

nav .menu li a {
  color: #183354;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav .menu li a.active, nav .menu li a .active, nav .menu li a:hover {
  color: #f4796c;
}

nav .menu li a i {
  color: #545e69;
  font-weight: 700;
  font-size: 22px;
}

nav form input {
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  margin-right: 30px;
}

nav form button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  margin-right: 15px;
  transition: all 0.3s ease;
}

nav form button i {
  font-size: 22px;
  font-weight: 100;
  color: #545e69;
  margin-right: 5px;
  transition: all 0.3s ease;
}

nav form button i:hover {
    color: #f4796c;
}

.bar {
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 1200px) {
  nav .menu {
    display: none;
  }

  .bar {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  nav form input {
    display: none;
  }
}

@media screen and (max-width: 600px) {
    nav form {
        display: none;
    }
}